/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Meyer Reset CSS */

/* --color-one: #420039;
--color-two: #7a1c4b;
--color-three: #f1f2da;
--color-four: #ba5044;
--color-five: #1b0326;
--color-six: #734b5e; */
/* --color-three: #D6D6B1; */

:root {
    --color-one: #cf492c;
    --color-two: #e3884e;
    --color-three: #f1f2da;
    --color-four: #ba5044;
    --color-five: #e36433;
    --color-six: #923f36;
    --main-font: 'VT323', monospace;
    --second-font: 'Source Code Pro', monospace;
}

html {
    height: 100%;
    background-color: var(--color-three);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    color: var(--color-six);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 900px;
    height:fit-content;
    padding-top: 15px;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.left {
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 15px;
    text-align: center;
}

.kitchen {
    position: relative;
    border-radius: 50%;
    width: 400px;
    height: 360px;

}

canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    position: absolute;
    z-index: 1;
    flex: 1;
    top: 0;
    left: 0;
}

.kitchen-bg {
    box-shadow: 0 0 12px -2px var(--color-four);
    position: absolute;
    border-radius: 50%;
    flex: 1;
    top: 0;
    left: 0;
    z-index: 0;
}

.logIn {
    margin-top: 15px;
    font-family: var(--main-font);
    font-size: 17px;
    letter-spacing: 0.2ch;
}

.logIn span {
    font-family: var(--main-font);
    font-weight: bold;
}

span > a {
    text-decoration: none;
    color: var(--color-six);
}

span > a:visited {
    text-decoration: none;
    color: var(--color-six);
}

.right {
    margin-left: 20px;
    flex: 1;
    padding-top: 10px;
}

#formTitle {
    font-family: var(--main-font);
    font-size: 43px;
    width: 90%;
    text-align: center;
}

form {
    font-family: var(--second-font);
}

.form-row {
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
}

.form-row label {
    margin-bottom: 15px;
    font-weight: bold;
}

.form-row select {
    width: 90%;
    padding: 5px;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    font-size: 14px;
    font-family: var(--second-font);
    font-weight: bold;
    color: rgb(75, 75, 75);
    -webkit-appearance: none;
}

.form-row input[type='text'],
.form-row input[type='email'],
.form-row input[type='password'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    font-weight: bold;
    border-radius: 3px;
    width: 90%;
    padding: 7px;
    font-size: 14px;
    font-family: var(--second-font);
}

.form-row input[type='text']:user-invalid,
.form-row input[type='email']:user-invalid,
.form-row input[type='password']:user-invalid {
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;
}

.form-row input[type='date'] {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
    width: 90%;
    padding: 7px;
    font-size: 14px;
    font-family: var(--second-font);
}

.form-row.passwordRow {
    margin-bottom: 5px;
    position: relative;
}

form ion-icon {
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    padding: 7px;
    align-self: flex-end;
    margin-right: 50px;
}

#passwordMessage {
    font-family: var(--second-font);
    font-size: 13px;
    font-weight: bold;
}

#passwordRequires {
    display: none;
}

li {
    text-indent: 10px;
}

.valid {
    color: darkolivegreen;
}

.valid::before {
    position: relative;
    left: -5px;
    content: '✓';
}

.invalid::before {
    position: relative;
    left: -5px;
    content: '✗';
}

.checkClass {
    display: block;
    position: relative;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    appearance: none;
}

.checkClass input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    border-radius: 3px;
}

.checkClass:hover input ~ .checkmark {
    background-color: var(--color-four);
}

.checkClass input:checked ~ .checkmark {
    background-color: var(--color-one);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkClass input:checked ~ .checkmark::after {
    display: block;
}

.checkClass .checkmark:after {
    left: 4px;
    top: 0px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.form-row button{
    font-size: 16px;
    font-weight: bold;
    color: var(--color-three);
    background-color: var(--color-one);
    font-family: var(--second-font);
    border: none;
    width: 90%;
    border-radius: 3px;
    padding: 10px 40px;
    cursor: pointer; 
    margin-bottom: 15px;
}

.form-row button:hover {
    background-color: var(--color-four);
}

.form-row button:active {
    background-color: var(--color-two);
}

footer {
    background-color: var(--color-four);
    color: var(--color-three);
    text-align: center;
    font-family: var(--main-font);
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 12px -2px var(--color-three);
    margin-bottom: 10px;
    display: block;
}

footer ion-icon {
    font-size: 16px;
    position: relative;
    top: 3px;
}

footer > a {
    text-decoration: none;
    color: var(--color-three);
}

footer > a:visited {
    text-decoration: none;
    color: var(--color-three);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(227,136,78);
    background-color: rgba(227,136,78,0.75);
}

.modalContent {
    display: flex;
    margin: auto;
    max-width: 400px;
    background-color: rgb(227,136,78);
    border-radius: 50px;
    padding: 30px;
    font-size: 30px;
    font-family: var(--main-font);
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (min-width: 961px) {
    
    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row label {
        text-align: right;
        margin-top: 7px;
        padding-right: 13px;
    }

    .form-row input[type='text'],
    .form-row input[type='email'],
    .form-row input[type='password'], 
    .form-row select,
    .form-row textarea {
        width: 250px;
        height: initial;
    }

    form ion-icon {
        font-size: 20px;
        cursor: pointer;
        position: absolute;
        padding: 10px;
        align-self: flex-end;
        margin-right: 0px;
    }

    ul {
        margin-top: 0;
        width: 250px;
        text-align: left;
    }

    #confirm {
        margin-left: 120px;
        width: auto;
    }

    .form-row input[type='date'] {
        width: 250px;
        height: initial;
    }
}